@import "../../assets/styles/variables";

.signup {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 80vh;
  &__card {
    border: 1px solid $creamy-white;
    min-width: 32rem;
    min-height: 40rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.4rem;
    background-color: $white;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.11);
    h2 {
      background:$light-sky-blue;
      padding: 1rem;
      width: 94%;
      margin: 0;
      text-align: center;
    }
    &--header {
      border-top-left-radius: 0.4rem;
      border-top-right-radius: 0.4rem;
      height: 10rem;
      background-color: $dark-blue;
      width: 100%;
      color: $white;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--input {
      padding: 2rem 0;
      width: 60%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      font-size: 1.5rem;
      input {
        min-height: 2rem;
        border-radius: 0.5rem;
        outline: none;
        border: none;
        border: 1px solid black;
        padding: 0.1rem;
        text-align: center;
        font-size: 1.3rem;
        &:active {
          outline: none;
        }
      }
    }
    &--footer {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem;
    }
  }
}
.signin__btn,
.signup__btn {
  border: 1px solid $dark-blue;
  background-color: $light-red;
  color: $white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  transition: all 0.4s;
  width: 20rem;

  &:hover {
    background-color: $dark-blue;
  }
}
