@import "../../assets/styles/variables";


.general,.headform,.earform,.eyeform,.noseform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 2rem;
  }
    span{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 20rem;
        label{
            margin-right: 1rem;
        }
    }
}