@import "../../assets/styles/_variables.scss";



.main-container {

  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white;


  div {
    text-align: center;

    img {
      width: 20rem;
    }
    
    h1 {
      font-size: 2rem;
      margin: 0;
    }

    p {
      font-size: 1.5rem;
      margin: 0;
    }

    button {
      background: $dark-blue;
      color: $white;
      margin: 1rem;
      padding: 1rem;
      border-radius: 5px;
    }
  }

}